<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokémon Card Search</title>
  <script type="module" src="main.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <link rel="stylesheet" href="Styles.css">
 
</head>
<body>
  <div>

  </div>
<div id="container">
  <div id="app">
    <div id="searchBar">
      <h2>Search any card here</h2>
      <input type="text" v-model="inputText">
      <button v-on:click="fetchApi">Search</button>
      <p v-if="cardCount > 0"> {{cardCount}} Cards Found</p>
    </div>

    <section v-for="list in dotData">
      <h3>{{list.name}}</h3>
      <h4>{{list.set.name}}</h4> 
      <img :src="list.images.small">
    </section>
  
  </div>
</div>
  

  
</body>
</html>
