body{
    background-image: url("images/pokedexBackground.png");
  }
  section {
    display: inline-block;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 6%;
    background-color: firebrick;
  }
  input{
    display: inline;
  }
  h3{
    font-size: 25px;
  }
  h4{
    font-size: 20px;
  }
  #container {
    text-align: center;
  }
  #searchBar {
    border: 3px solid black;
    padding: 10px;
    padding-top: 0px;
    margin: 10px;
    margin-left: 40%;
    border-radius: 6%;
    background-color: firebrick;
    max-width: fit-content;
  }
  #searchBar h2 {
    margin: 10px;
  }
  p {
    margin: 0px;
    margin-top: 10px;
    font-weight: bold;
  }